.more-info{
    width:100%;
    height:100%;
    margin-top:20px;
    text-align: center;
}
.product-title{
    margin-bottom: 20px;
}
.prg-2{
    display:flex;
}
.prg-2 ul{
    
    margin: 0;
    padding: 0;
    font-weight: bold;
   
  
  
}
.prg-2 li{
    float:left;
    font-weight: 400;
    position: relative;
}
.prg-3 ul{
   
    font-weight: bold;
    margin-top:10px
}
.prg-3 li{
    font-weight:400;
}
.productlist h4{
    margin-top: 10px;
    margin-bottom: 10px;
}
.productlist p{
    font-size:16px;
    line-height: 1.8;
    
}
.productlistsub{
    display:flex;
}
