.productlist{
    display:inline-block;
}
.services__title{
    font-weight: bold;
    margin-bottom: 10px;
}
.site-btn{
    background-color:black;
}
.site-btn:disabled{
	background-color:rgb(191, 191, 191,0.5)
}
.team__category:hover{
border-color:black;
}
.team {
	padding-bottom: 70px;
}

.team__category {
	text-align: center;
	margin-bottom: 30px;
}


.team__category img {
	height: 270px;
	width: 270px;

}
ul{
	list-style-type:circle;
}
.team__category h5 {
	font-size: 20px;
	color: #111111;
	font-weight: 600;
	margin-bottom: 5px;
}

.team__category span {
	font-size: 15px;
	color: #13a2b7;
	display: block;
	margin-bottom: 12px;
}

.team__category .team__item__social a {
	font-size: 15px;
	color: #666666;
	display: inline-block;
	margin-right: 20px;
}

.team__category .team__item__social a:last-child {
	margin-right: 0;
}
.productlist{
	margin-bottom: 80px;
}

